# 6. Tasa de paro por CCAA en el tiempo

Tenemos este archivo descargado desde la página web del INE, vamos a limpiarlo para poder realizar los datos estadísicos correspondientes.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load the data
df_paro = pd.read_csv(r'C:\Users\evaru\Downloads\EVOLVE\python\running-trends\data\raw\tasaparoESP-ccaa.csv', sep=';')

#Visión genérica inicial
df_paro.info()
df_paro.describe()
display(df_paro.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38640 entries, 0 to 38639
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Sexo                              38640 non-null  object
 1   Comunidades y Ciudades Autónomas  38640 non-null  object
 2   Edad                              38640 non-null  object
 3   Periodo                           38640 non-null  object
 4   Total                             38640 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB

          Sexo Comunidades y Ciudades Autónomas   Edad Periodo  Total
0  Ambos sexos                   Total Nacional  Total  2024T4  10,61
1  Ambos sexos                   Total Nacional  Total  2024T3  11,21
2  Ambos sexos                   Total Nacional  Total  2024T2  11,27
3  Ambos sexos                   Total Nacional  Total  2024T1  12,29
4  Ambos sexos                   Total Nacional  Total  2023T4   11,8

In [4]:
# Reordenar las columnas en el orden especificado
column_order = ['Periodo', 'Comunidades y Ciudades Autónomas', 'Total', 'Edad', 'Sexo']
df_paro = df_paro[column_order]

# Mostrar las primeras filas para verificar
display(df_paro.head())

  Periodo Comunidades y Ciudades Autónomas  Total   Edad         Sexo
0  2024T4                   Total Nacional  10,61  Total  Ambos sexos
1  2024T3                   Total Nacional  11,21  Total  Ambos sexos
2  2024T2                   Total Nacional  11,27  Total  Ambos sexos
3  2024T1                   Total Nacional  12,29  Total  Ambos sexos
4  2023T4                   Total Nacional   11,8  Total  Ambos sexos

In [5]:
# De la columna 'Periodo' queremos quedarnos con los 4 primeros caracteres
df_paro['Periodo'] = df_paro['Periodo'].str[:4]
df_paro

,Periodo,Comunidades y Ciudades Autónomas,Total,Edad,Sexo
0,2024,Total Nacional,"10,61",Total,Ambos sexos
1,2024,Total Nacional,"11,21",Total,Ambos sexos
2,2024,Total Nacional,"11,27",Total,Ambos sexos
3,2024,Total Nacional,"12,29",Total,Ambos sexos
4,2023,Total Nacional,"11,8",Total,Ambos sexos
...,...,...,...,...,...
38635,2003,19 Melilla,0,55 y más años,Mujeres
38636,2002,19 Melilla,0,55 y más años,Mujeres
38637,2002,19 Melilla,0,55 y más años,Mujeres
38638,2002,19 Melilla,0,55 y más años,Mujeres
38639,2002,19 Melilla,"11,32",55 y más años,Mujeres

In [6]:
df_paro = df_paro[df_paro['Sexo'] == 'Ambos sexos']
display(df_paro.head())

  Periodo Comunidades y Ciudades Autónomas  Total   Edad         Sexo
0    2024                   Total Nacional  10,61  Total  Ambos sexos
1    2024                   Total Nacional  11,21  Total  Ambos sexos
2    2024                   Total Nacional  11,27  Total  Ambos sexos
3    2024                   Total Nacional  12,29  Total  Ambos sexos
4    2023                   Total Nacional   11,8  Total  Ambos sexos

In [7]:
df_paro = df_paro[df_paro['Edad'] == 'Total']
display(df_paro.head())

  Periodo Comunidades y Ciudades Autónomas  Total   Edad         Sexo
0    2024                   Total Nacional  10,61  Total  Ambos sexos
1    2024                   Total Nacional  11,21  Total  Ambos sexos
2    2024                   Total Nacional  11,27  Total  Ambos sexos
3    2024                   Total Nacional  12,29  Total  Ambos sexos
4    2023                   Total Nacional   11,8  Total  Ambos sexos

In [15]:
display(df_paro.head(10))

  Periodo Comunidades y Ciudades Autónomas  Total   Edad         Sexo
0    2024                   Total Nacional  10.61  Total  Ambos sexos
1    2024                   Total Nacional  11.21  Total  Ambos sexos
2    2024                   Total Nacional  11.27  Total  Ambos sexos
3    2024                   Total Nacional  12.29  Total  Ambos sexos
4    2023                   Total Nacional  11.80  Total  Ambos sexos
5    2023                   Total Nacional  11.89  Total  Ambos sexos
6    2023                   Total Nacional  11.67  Total  Ambos sexos
7    2023                   Total Nacional  13.38  Total  Ambos sexos
8    2022                   Total Nacional  12.99  Total  Ambos sexos
9    2022                   Total Nacional  12.73  Total  Ambos sexos

In [16]:
# Convertir la columna 'Total' a numérica (reemplazar comas por puntos y convertir a float)
df_paro['Total'] = df_paro['Total'].str.replace(',', '.').astype(float)

# Agrupar por 'Periodo' y sumar los valores de 'Total'
suma_por_periodo = df_paro.groupby('Periodo', 'Comunidades y Ciudades Autónomas')['Total'].sum()

# Mostrar el resultado
print(suma_por_periodo)

# Agregar este resultado a una columna del dataframe original

AttributeError: Can only use .str accessor with string values!