# 6. Tasa de paro por CCAA en el tiempo

Tenemos este archivo descargado desde la página web del INE, vamos a limpiarlo para poder realizar los datos estadísicos correspondientes.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load the data
df_paro = pd.read_csv('tasaparoESP_ccaa.csv', sep=';')

#Visión genérica inicial
df_paro.info()
df_paro.describe()
display(df_paro.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38640 entries, 0 to 38639
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Sexo                              38640 non-null  object
 1   Comunidades y Ciudades Autónomas  38640 non-null  object
 2   Edad                              38640 non-null  object
 3   Periodo                           38640 non-null  object
 4   Total                             38640 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB

          Sexo Comunidades y Ciudades Autónomas   Edad Periodo  Total
0  Ambos sexos                   Total Nacional  Total  2024T4  10,61
1  Ambos sexos                   Total Nacional  Total  2024T3  11,21
2  Ambos sexos                   Total Nacional  Total  2024T2  11,27
3  Ambos sexos                   Total Nacional  Total  2024T1  12,29
4  Ambos sexos                   Total Nacional  Total  2023T4   11,8

In [2]:
#Agrupar por año
df_paro['Periodo'] = df_paro['Periodo'].str[:4].astype(int)
print(df_paro.head())

          Sexo Comunidades y Ciudades Autónomas   Edad  Periodo  Total
0  Ambos sexos                   Total Nacional  Total     2024  10,61
1  Ambos sexos                   Total Nacional  Total     2024  11,21
2  Ambos sexos                   Total Nacional  Total     2024  11,27
3  Ambos sexos                   Total Nacional  Total     2024  12,29
4  Ambos sexos                   Total Nacional  Total     2023   11,8

In [3]:
#Cambiar el nombre a la columna "Comunidades y Ciudades Autónomas"
df_paro.rename(columns={'Comunidades y Ciudades Autónomas': 'CCAA'}, inplace=True)

In [4]:
df_paro['CCAA'].unique()

array(['Total Nacional', '01 Andalucía', '02 Aragón',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y León', '08 Castilla - La Mancha',
       '09 Cataluña', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [12]:
#Cambiar valores de la columna "CCAA"
df_paro['CCAA'] = df_paro['CCAA'].replace({

     "01 Andalucía": "Andalucia",
    "02 Aragón": "Aragon",
    "03 Asturias, Principado de": "Asturias",
    "04 Balears, Illes": "Baleares",
    "05 Canarias": "Canarias",
    "06 Cantabria": "Cantabria",
    "07 Castilla y León": "CastillaLeon",
    "08 Castilla - La Mancha": "CastillaLaMancha",
    "09 Cataluña": "Catalunya",
    "10 Comunitat Valenciana": "ComunidadValenciana",
    "11 Extremadura": "Extremadura",
    "12 Galicia": "Galicia",
    "13 Madrid, Comunidad de": "Madrid",
    "14 Murcia, Región de": "Murcia",
    "15 Navarra, Comunidad Foral de": "Navarra",
    "16 País Vasco": "PaisVasco",
    "17 Rioja, La": "LaRioja",
    "18 Ceuta": "Ceuta",
    "19 Melilla": "Melilla",
    "Total Nacional": "TotalNacional",
    })

display(df_paro.head())

          Sexo           CCAA   Edad  Periodo  Total
0  Ambos sexos  TotalNacional  Total     2024    NaN
1  Ambos sexos  TotalNacional  Total     2024    NaN
2  Ambos sexos  TotalNacional  Total     2024    NaN
3  Ambos sexos  TotalNacional  Total     2024  45.38
4  Ambos sexos  TotalNacional  Total     2023  46.57

In [13]:
#Convertir la columna "Total" a float
df_paro['Total'] = df_paro['Total'].str.replace(',', '.', regex=False)

# Reemplazar cadenas vacías con NaN
df_paro['Total'] = df_paro['Total'].replace('', np.nan)

# Convertir la columna a float
df_paro['Total'] = df_paro['Total'].astype(float)
df_paro.info()

AttributeError: Can only use .str accessor with string values!