# 4. Renta por persona y por unidad de consumo

Tenemos este archivo descargado desde la página web del INE, vamos a limpiarlo para poder realizar los datos estadísicos correspondientes.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load the data
df_renta = pd.read_csv('Renta por persona y unidad consumo por comunidades autónomas.csv', sep=';')

#Visión genérica inicial
df_renta.info()
df_renta.describe()
display(df_renta.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 4 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Comunidades y Ciudades Autónomas                            1360 non-null   object
 1   Renta anual neta media por persona y por unidad de consumo  1360 non-null   object
 2   Periodo                                                     1360 non-null   int64
 3   Total                                                       1360 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 42.6+ KB

,Comunidades y Ciudades Autónomas,Renta anual neta media por persona y por unidad de consumo,Periodo,Total
0,Total Nacional,Renta neta media por persona,2024,14.807
1,Total Nacional,Renta neta media por persona,2023,14.082
2,Total Nacional,Renta neta media por persona,2022,13.008
3,Total Nacional,Renta neta media por persona,2021,12.269
4,Total Nacional,Renta neta media por persona,2020,12.292